@media (max-width: 769px) {

    .heading-1{
        font-size:1.7rem;
    }

    .display-5{
        font-size:2rem;
    }
    .gallery-img{
        max-width:100%;
    }

    .slide{
        max-width:80%;
    }

    .gallery-landscape{
        margin-top: 4rem;
    }
    
    .gallery-landscape img{
        max-width:100%;
        height:auto;
    }

    .footer-links-tab ul li{
        font-size: 1rem;
    }

    .socialmedia ul li a img{
        max-width:50%;
      }

      .socialmedia{
          margin: 0 auto;
      }

      .socialmedia ul li{
        padding-right:1rem;
    }

    .footer-links-tab ul li{
        font-size:.8rem ;
        padding-right:1rem;
        text-align: center;
    }

.copyright-text{
    font-size: .75rem;
}
    .hehe{
        margin-bottom:3rem;
        text-align: left;
    }

    /* about page */
    .display-4{
        font-size:2rem;
    }

    .header-img img{
        max-width: 100%;
    }

    .about-para{
        margin-left: 0rem;
        margin-bottom: 2.5rem;
        margin-right: 0rem;
    }


.about-us-page-heading{
    margin-left:0rem;
}

.what-we-do-about{
    font-size: 1rem;
    margin-left:0rem;
    margin-bottom: 2rem;
    }

    .what-heading{
        font-size:2rem;
    }

    .home-about{
        margin-top:1rem;
        margin-left:0rem;
        margin-right: 0rem;
    }
    

    
    
    .gt {
            margin-top:1rem;
            margin-bottom: 1rem;
        }

        /* contact-us */

       .gmap_canvas {
           box-shadow: 0px 15px 30px rgba(0, 51, 160, 0.305);
           border-radius: 1rem;
           margin: 0 auto;
           overflow: hidden;
           max-width: 100%;
       }

       .bottom-side{
        border-radius: 1rem;
        padding:1.2rem;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .contact-side{
        margin: 0rem;
        padding: 0rem;
    }

    .form-title{
        text-align: left;
    }

    .sign-image{
        display: none;
    }
    
}

