.upper-image{
    height: 25vh;
    width:100%;
}
.lower-image{
    height: 50vh;
    width:100%;
}

@media screen and (min-width:30em) and (max-width:60em) {
    .upper-image{
        height: 25vh;
        width:100%;
    }
    .lower-image{
        height: 40vh;
        width:100%;
    }
}

@media screen and (min-width:60em) {
    .upper-image{
        height: 50vh;
        width:100%;
    }
    .lower-image{
        height: 50vh;
        width:100%;
    }
}

/* pdf Css */
body{
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    -webkit-overflow-scrolling: touch;
}
/* 
.non-clickable{
    pointer-events: none;
}

.fixed {
    position: fixed; top: 0; left: 0;
    z-index: 10000;
} */

h1{
    font-size: 46px;
}

.flex {
    display: flex
}

.justify-center {
    justify-content: center
}
.items-center {
    align-items: center
}

.h-100{
    height: 100% !important
}
.vh-100{
    height:100vh !important
}
.vh-50{
    height:50vh !important
}
.vh-25{
    height:25vh !important
}

.flex-col {
    flex-direction: column
}

.w-100 {
    width: 100% !important
}


@media screen and (min-device-width:900px) {
    .w-50-ns {
        width: 50% !important
    }
    
    .w-25-ns {
        width: 25% !important
    }
    
    .flex-row-ns {
        flex-direction: row
    }

    .vh-100-ns{
        height:100vh !important
    }
    .vh-60-ns{
        height:60vh !important
    }

    .d-block-ns{
        display: block !important;
    }

}


.d-none{
    display: none;
}